assets/myservice.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Service"
 targetNamespace="http://tempuri.org/ns1.xsd/Service.wsdl"
 xmlns:tns="http://tempuri.org/ns1.xsd/Service.wsdl"
 xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
 xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
 xmlns:ns1="urn:MagicSquare"
 xmlns:SOAP="http://schemas.xmlsoap.org/wsdl/soap/"
 xmlns:HTTP="http://schemas.xmlsoap.org/wsdl/http/"
 xmlns:MIME="http://schemas.xmlsoap.org/wsdl/mime/"
 xmlns:DIME="http://schemas.xmlsoap.org/ws/2002/04/dime/wsdl/"
 xmlns:WSDL="http://schemas.xmlsoap.org/wsdl/"
 xmlns="http://schemas.xmlsoap.org/wsdl/">

<types>

 <schema targetNamespace="urn:MagicSquare"
  xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/"
  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:ns1="urn:MagicSquare"
  xmlns="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="unqualified"
  attributeFormDefault="unqualified">
  <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
  <complexType name="ArrayOfint">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="xsd:int" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="xsd:int[]"/>
    </restriction>
   </complexContent>
  </complexType>
  <complexType name="ArrayOfArrayOfint">
   <complexContent>
    <restriction base="SOAP-ENC:Array">
     <sequence>
      <element name="item" type="ns1:ArrayOfint" minOccurs="0" maxOccurs="unbounded" nillable="false"/>
     </sequence>
     <attribute ref="SOAP-ENC:arrayType" WSDL:arrayType="ns1:ArrayOfint[]"/>
    </restriction>
   </complexContent>
  </complexType>
  <!-- operation request element -->
  <element name="magic">
   <complexType>
    <sequence>
     <element name="rank" type="xsd:int" minOccurs="1" maxOccurs="1"/><!-- ns1__magic::rank -->
    </sequence>
   </complexType>
  </element>
  <!-- operation response element -->
  <element name="magicResponse">
   <complexType>
    <sequence>
     <element name="result" type="ns1:ArrayOfArrayOfint" minOccurs="0" maxOccurs="1" nillable="true"/><!-- ns1__magic::result -->
    </sequence>
   </complexType>
  </element>
 </schema>

</types>

<message name="magicRequest">
 <part name="Body" element="ns1:magic"/><!-- ns1__magic::ns1__magic -->
</message>

<message name="magicResponse">
 <part name="Body" element="ns1:magicResponse"/>
</message>

<portType name="ServicePortType">
 <operation name="magic">
  <documentation>Service definition of function ns1__magic</documentation>
  <input message="tns:magicRequest"/>
  <output message="tns:magicResponse"/>
 </operation>
</portType>

<binding name="Service" type="tns:ServicePortType">
 <SOAP:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
 <operation name="magic">
  <SOAP:operation soapAction=""/>
  <input>
     <SOAP:body parts="Body" use="literal"/>
  </input>
  <output>
     <SOAP:body parts="Body" use="literal"/>
  </output>
 </operation>
</binding>

<service name="Service">
 <documentation>gSOAP 2.8.17r generated service definition</documentation>
 <port name="Service" binding="tns:Service">
  <SOAP:address location="192.168.1.105:8080"/>
 </port>
</service>

</definitions>